<div id="globalFooter" class="clearfix">
    <img src="{{ site.site_root }}/assets/images/OSC-badge.png" class="clearfix"/>
    The Deployment Best Practices project is a proud member of the
    <a href="https://sfdo-community-sprints.github.io/" target="_blank">Salesforce.org Open Source Commons</a>.
    Open Source Commons is a community of mission-driven individuals working together to solve the world's most challenging problems.
    We do this by actively listening to each other, educating each other, and bringing our passion, experience, and technical know-how to projects that can be
    replicated and shared throughout the Salesforce ecosystem. We work to remove barriers to entry so that everyone can be a part of this vision.
    <br/><br/>
    <em>Copyright 2022, Salesforce.org. All rights reserved. Use of this source code is governed by a
        <a href="https://github.com/SFDO-Community-Sprints/deployment-best-practices/blob/main/LICENSE">BSD Revised license.</a></em>
</div>




